---
import { SITE } from '../config/consts';

const { title, description = SITE.description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="icon" type="image/svg+xml" href={`${import.meta.env.BASE_URL}favicon.svg`} />
<meta name="generator" content={Astro.generator} />

<title>{title} · {SITE.title}</title>
<meta name="title" content={`${title} · ${SITE.title}`} />
<meta name="description" content={description} />
<link rel="canonical" href={canonicalURL} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={`${title} · ${SITE.title}`} />
<meta property="og:description" content={description} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={`${title} · ${SITE.title}`} />
<meta property="twitter:description" content={description} />
